#title {
    margin-top: 12px;
    background-color: #2a6496;
    color: #fff;

}

#pageTitle {
    display: block;
    border-bottom: 2px solid #2a6496;
}

input {
    color: #000000;
}

a {
    color: #ffffff;
}

a:hover {
    color: #f00;
}

button {
    font-size: 16px;
}

.searchBar {
    margin-top: 10px;
}

.searchBar form {
    display: inline-block;
    color: #000;
    font-size: 16px;
}

.searchBar input {
    width: 200px;
}

.searchBar button {
    font-size: 16px;
}

#login {
    display: inline-block;
    width: 50%;
}

#login input {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

#login form #email {
    display: none;
}

body {
    font-size: 16px;
}

#menu {
    border-top: solid 6px #2a6496;
    background-color: #2a6496;
    color: #fff;
    max-width: 100%;
    width: 70%;
    height: 70px;
}

#menu a {
    background-color: #2a6496;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration:underline;
    display: block;
}

.button button {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
}

.button input {
    margin: 10px;
    font-size: 16px;
}

.button a:hover {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

#content {
    background-color: #9a9c9b;
    border-top: solid 6px #2a6496;
    max-width: 100%;
    width: 100%;
    color: #000;
    font-size: 16px;

}

#register_form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 40%;
    font-size: 16px;
}

#register_form #registerEmail {
    display: none;
}

.error {
    color: #cf0e00;
}

.page
{
    font-size: 20px;
    color: #fff;
    border-bottom:1px dashed #2a6496;
}

.lotTitle {
    margin-bottom: 20px;
    border-bottom: 1px dashed #2a6496;
}

.lotImage {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.description {
    display: inline-block;
    float: none;
    margin-top: 50px;
    padding: 10px;
    width: 70%;
    background-color: #fff;
}

.auctionTable {
    float: none;
    display: block;
    margin-top: 150px;
}

#bidButton
{
    display: inline-block;
}

#code label {
    padding: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #f0b000;
    text-align: center;
    border: 2px solid #000;

    /* Prevent user from copying the reCaptcha */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#loadPages {
    /*position: fixed;*/
    /*bottom: 0;*/
}

#lessPages {
    /*position: fixed;*/
    left: 200px;
}

#auctionItem {
    background-color: #000;
    color: #fff;
}

#auctionItem .row {
    margin: 10px;
    padding: 10px;
}

#lotID {
    margin: 1px;
    width: 10%;
    background-color: #2a6496;
    border-bottom: 2px solid #fff;
}

#description {
    padding: 10px;
    border: 2px solid #fff;
}

#auctionDetails {
    margin-left: 10px;
    background-color: #2a6496;
    border: 2px solid #fff;
}

#auctionDetails .row {
    border-bottom: 2px solid #fff;
}

#description #openingBid {
    padding: 10px;
    text-align: center;
    background-color: #2a6496;
    border: 2px solid #fff;
}

#footer {
    margin-top: 20px;
    text-align: center;
    background-color: #2a6496;
    color: #000;
}
